.container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #e2f1f0;
}

.tabs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    background: lightblue;
    margin: 0 auto;
    
}

.tabs div {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    font-size: 22px;
    transition: 0.1s ease-in;
}

.tabs div.active {
    background: #6fd06f;
}

.timer_container {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-width: 500px;
    max-width: 1200px;
    min-height: 300px;
    margin: auto;
    padding: 10px;
    background: #e8fce8;

}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    padding: 40px;
}

.button_container {
    text-align: center;
}

.start_pause {
    background: green;
    color: white;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 12px;
    margin: 12px;
    transition: 0.2s ease-in;
}

button:hover {
    transform: scale(1.1);

}

.reset {
    background: #5da4e6;
}

.instructions {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    line-height: 2.2;
    background: #f1ec9b;
    width: 245px;
    text-align: center;
    margin: 20px auto;
}

strong {
    font-weight: 700;
}

.instructions_title {
    font-size: 22px;
}

.thanks {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}