.container {
    min-width: 500px;
    min-height: 400px;
}

.tabs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    min-width: 500px;
    min-height: 100px;
    background: lightblue;
}

.tabs div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.timer_container {
    position: relative;
    min-width: 500px;
    min-height: 300px;
    background: beige;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}